<h1>{{.Component}} (version {{.Version}})</h1>
<p>This server is :</p>
<ul>
    <li><a href="/webgui/">A web client for the assistant</a></li>
    <li>A WebSocket gateway for all the internal assistant servers</li>
</ul>
