<template>
  <v-app id="app" dark>
    <!-- keep alive is a test to avoid reloading motion detection page when clicking on 'back' button -->
    <!-- resources: https://vuejs.org/v2/api/#keep-alive, https://stackoverflow.com/questions/50796127/back-button-navigation-without-reload-the-previous-page-in-vue-js -->
    <!-- <keep-alive> -->
      <router-view :key="$route.fullPath"></router-view>
    <!-- </keep-alive> -->
  </v-app>
</template>

<script>

import Home from '@/components/Home';

export default {
  name: 'App',
  components: {
    Home,
  },
  data() {
    return {
    };
  },
  computed: {
  },
};
</script>

<style>
#app {
  //font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>
