.nodata33 {
    background-color: rgba(255, 255, 255, 0.1);
    color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 33%;
    margin-bottom: 0.5em;
}
.nodata50 {
    background-color: rgba(255, 255, 255, 0.1);
    color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 50%;
    margin-bottom: 0.5em;
}
.nodata66 {
    background-color: rgba(255, 255, 255, 0.1);
    color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 66%;
    margin-bottom: 0.5em;
}
.nodata100 {
    background-color: rgba(255, 255, 255, 0.1);
    color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-bottom: 0.5em;
}
