<template>
  <div class="grid">
    <div v-for="widget in this.config.widgets"
         v-bind:key="widget.id"
         class="item"
         :style="`grid-column: ${widget.x}/span ${widget.w};
                  grid-row: ${widget.y}/span ${widget.h}`"
         >

      <component :is="widget.component"
                 :key="widget.component.name"
                 v-bind="widget.parameters"
      >
      </component>
    </div>
  </div>
</template>

<script>
import ChatBubble from '@/components/ChatBubble';
import SimpleChat from '@/components/SimpleChat';
import WidgetActuator from '@/components/WidgetActuator';
import WidgetClock from '@/components/WidgetClock';
import WidgetVideo from '@/components/WidgetVideo';

/* icons :
  Arrows up/down :
  - keyboard_arrow_up, down
  - change_history, details (up, down)
  - arrow_upward, downward
  - arrow_drop_up, down
*/
export default {
  name: 'Grid',
  components: {
    ChatBubble,
    SimpleChat,
    WidgetActuator,
    WidgetVideo,
  },
  data() {
    return {
      config: {
        grid: 'TODO : size of grid, ....',
        widgets: [
          {
            id: 1,
            x: 1,
            y: 1,
            w: 7,
            h: 6,
            title: '#1',
            component: WidgetVideo,
            parameters: { autoplay: true, video: { format: 'mjpeg', url: 'http://192.168.1.50/porcheXXX' } },
          },
          {
            id: 2,
            x: 9,
            y: 3,
            w: 1,
            h: 1,
            title: '#1',
            component: WidgetActuator,
            parameters: { action: 'ouvre le volet de la cuisine', icon: 'keyboard_arrow_up' },
          },
          {
            id: 3,
            x: 9,
            y: 4,
            w: 1,
            h: 1,
            title: '#1',
            component: WidgetActuator,
            parameters: { action: 'ferme le volet de la cuisine', icon: 'keyboard_arrow_down' },
          },
          {
            id: 4,
            x: 10,
            y: 3,
            w: 1,
            h: 1,
            title: '#1',
            component: WidgetActuator,
            parameters: { action: 'ouvre le volet de la salle à manger', icon: 'keyboard_arrow_up' },
          },
          {
            id: 5,
            x: 10,
            y: 4,
            w: 1,
            h: 1,
            title: '#1',
            component: WidgetActuator,
            parameters: { action: 'ferme le volet de la salle à manger', icon: 'keyboard_arrow_down' },
          },
          {
            id: 6,
            x: 9,
            y: 1,
            w: 2,
            h: 1,
            title: '#1',
            component: WidgetClock,
            parameters: { },
          },
        ],
      },

    };
  },
  created() {
  },
  computed: {
  },
  methods: {
  },
};
</script>

<style>
.grid {
    margin: 1ex;
    display: grid;
    grid-template-columns: repeat(10, 7vw);
    grid-template-rows: repeat(6, 7vw);
    grid-gap: 1ex;
    position: relative;
    justify-content: center;
}

.item {
    padding: 0px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

</style>

