<template>
  <div>

        <grid-layout
                :layout.sync="layout"
                :col-num="4"
                :row-height="200"
                :is-draggable="true"
                :is-resizable="true"
                :is-mirrored="false"
                :vertical-compact="true"
                :margin="[10, 10]"
                :use-css-transforms="true"
        >

            <grid-item class="item" v-for="item in layout"
                       :key="item.i"
                       :x="item.x"
                       :y="item.y"
                       :w="item.w"
                       :h="item.h"
                       :i="item.i">
                <SimpleChat v-if='item.i == 1'></SimpleChat>
                <WidgetActuator v-else-if='item.i == 2'></WidgetActuator>
                <v-sheet v-else class='item'><div>{{item.i}}</div></v-sheet>
            </grid-item>
        </grid-layout>

  </div>
</template>

<script>
import VueGridLayout from 'vue-grid-layout';
import SimpleChat from '@/components/SimpleChat';
import WidgetActuator from '@/components/WidgetActuator';

export default {
  name: 'Home',
  components: {
    SimpleChat,
    WidgetActuator,
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
  },
  data() {
    return {
      layout: [
        { x: 0, y: 0, w: 1, h: 1, i: '0' },
        { x: 1, y: 0, w: 2, h: 2, i: '1' },
        { x: 0, y: 1, w: 1, h: 1, i: '2' },
      ],
    };
  },
  computed: {
  },
  methods: {
  },
};
</script>

<style>
.item {
    padding: 0.8em;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}
</style>
