<template>
  <div>
      <v-app-bar fixed app inset>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>{{ name }}</v-toolbar-title>  <!-- TODO : i18n -->
        <v-spacer></v-spacer>

        <v-chip>
          <v-avatar left>
            <v-icon>account_circle</v-icon>
          </v-avatar>
          {{ username }}
        </v-chip>

        <v-btn icon @click="doLogout">
          <v-icon>exit_to_app</v-icon>
        </v-btn>
      </v-app-bar>

      <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
        >

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              {{ name }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list>
          <v-list-item
             :to="{path: '/' }"
             >
            <v-list-item-icon>
              <v-icon>home</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!-- servers list -->
          <v-list-item
             :to="{path: '/server/' + server.address }"
             v-if="server.online == true"
             v-for="server in servers"
             :key="server.address">
            <v-list-item-action>
              <v-icon>chat_bubble_outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ server.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ server.address }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <!-- peers list -->
          <v-list-item
             :to="{path: '/' + peer.roles[0] + '/' + peer.address }"
             v-for="peer in peers"
             :key="peer.name"
             v-if="peer.roles[0] != 'server'">
            <v-list-item-action>
              <v-icon>memory</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ peer.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ peer.address }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

        </v-list>

      </v-navigation-drawer>

      <v-content id="content">

      <!-- content here -->
      <router-view></router-view>

      </v-content>
      <v-footer bottom fixed class="footer">
        <v-bottom-sheet inset>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
            >
              Chat
            </v-btn>
          </template>
          <v-sheet class="text-center" height="70vh">
            <SimpleChat></SimpleChat>
          </v-sheet>
        </v-bottom-sheet>

        <v-spacer></v-spacer>

        <div v-if='wsConnected == true'>
          <ul v-if='servers.length > 0' class="servers">
            <li v-for="server in servers"
                :key="server.id">
                <v-chip>
                  <v-avatar>
                    <v-icon v-if='server.online == true' small>check_circle_outline</v-icon>
                    <v-icon v-else small>not_interested</v-icon>
                  </v-avatar>
                  {{ server.name }}
                </v-chip>
            </li>
          </ul>
          <ul v-else class="servers">
            <li>
              <v-icon small>warning</v-icon>
              No servers available
            </li>
          </ul>
        </div>
        <div v-else>
          <v-icon small>warning</v-icon>
          Connection lost <!-- TODO : i18n -->
        </div>

      </v-footer>
  </div>
</template>

<script>
import SimpleChat from '@/components/SimpleChat';

export default {
  name: 'Layout',
  components: {
    SimpleChat,
  },
  data() {
    return {
      name: 'Assistant',
      drawer: true,
    };
  },
  computed: {
    username() {
      return localStorage.getItem('username');
    },
    peers() {
      return this.$store.getters.PEERS;
    },
    servers() {
      return this.$store.getters.SERVERS;
    },
    wsConnected() {
      return this.$store.getters.IS_CONNECTED;
    },
  },
  methods: {
    doLogout() {
      // logout :
      // - remove login/token data from localstorage
      // - redirect to / page which will redirect to the login page
      localStorage.removeItem('token');
      localStorage.removeItem('username');
      this.$router.push('/login');
    },
  },
};
</script>

<style>
#app {
  //font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#content {
  //border: 1px dashed yellow;
}

#layout {
  //border: 2px dashed red;
}

.footer {
    font-size: 1.2em;
}

.footer .servers {
    list-style-type:none;
}
.footer .servers li {
    display: inline;
    margin-left: 1em;
}
</style>
