<template>
  <p>
    <!-- TODO : do something nicer -->
    404
  </p>
</template>
<script>
export default {
  name: 'NotFound',
};
</script>
<style scoped>
p {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
</style>
