<template>
  <div v-if='error != ""'>
   <v-alert
      :value="true"
      color="error"
    >
      <div>A problem occured while gathering peer's informations:</div>  <!-- TODO : i18n-->
      <div>{{ error }}</div>
    </v-alert>
  </div>
  <div v-else-if='component == ""'>
    <h1 class='nodata33'>...</h1>
    <p class='nodata50'>...</p>
  </div>
  <div v-else>
    <h1>{{ component }}</h1>
    <p>{{ name }} ({{ address }}) version {{ version }}</p>  <!-- TODO i18n -->
    <p>Roles : {{ roles }}</p>
  </div>
</template>

<script>
import global from '@/main';
import axios from 'axios';

export default {
  name: 'Peer',
  components: {
  },
  data() {
    return {
      peerAddress: this.address,
      infoUrl: `${global.proxyUrl}/${this.address}/info`,
      component: '',
      version: '',
      roles: '',
      name: '',
      error: '',
    };
  },
  created() {
    let self = this;
    axios.get(this.infoUrl)
         .then(function (response) {
           self.component = response.data.component;
           self.version = response.data.version;
           self.roles = response.data.roles;
           self.name = response.data.name;
         })
         .catch(function (error) {
           self.error = error;
         });
  },
  props: {
    address: {
      type: String,
      default() {
        return '';
      },
    },
  },
  methods: {
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>

</style>
