<template>
  <v-container class="mb-8">
    <Peer v-bind:address="$route.params.address"></Peer>

              <v-alert
                v-if='error != ""'
                :value="true"
                type="error"
              >
                {{ error }}
              </v-alert>

              <!-- TODO : range per type -->
              <div v-for="(tags, cat) in tagsByCategories"
                   v-bind:key="cat">
                <h2 class='category'>{{ cat }}</h2>
                <v-chip class="mr-1 mb-1"
                        @click="selectTag(tag)"
                        :input-value="isSelectedTag(tag)"
                        filter
                        v-for="tag in tags"
                        v-bind:key="tag"
                        color="primary"
                        text-color="white">
                        <!-- <v-icon left>label</v-icon> -->
                       {{tag}}
                </v-chip>
              </div>
              <v-text-field prepend-icon='search' autofocus v-on:keyup='checkIfEnter'
                            append-outer-icon='send'
                            @click:append-outer='doSearch'
                            v-model='search' name='search' label='Search'></v-text-field>   <!-- TODO: i18n -->

              <v-container fluid grid-list-lg>
                <v-data-iterator
                        :items="items"
                      >
                  <template v-slot:default="props">
                    <v-row>
                      <v-col
                       v-for="item in props.items"
                       :key="item.file_path"
                       cols="12"
                       sm="6"
                       md="4"
                       lg="3"
                      >
                        <v-card>
                          <v-img contain :src="`${thumbUrl}/${item.folder_id}/${item.file_path}`">
                            <v-container
                               fill-height
                               fluid
                               pa-2
                             >
                               <v-layout fill-height>
                                 <v-flex xs12 align-end flexbox>
                                   <span class="headline title" v-text="item.file_path"></span>
                                 </v-flex>
                               </v-layout>
                             </v-container>
                          </v-img>
                          <v-card-actions>
                           <v-btn
                             icon
                             dark
                             @click.prevent="downloadItem(`${dataUrl}/${item.folder_id}/${item.file_path}`, item.file_path)"
                           >
                             <v-icon>save_alt</v-icon>
                           </v-btn>
                           <v-btn
                             icon
                             dark
                             :href="`${dataUrl}/${item.folder_id}/${item.file_path}`"
                             target="_blank"
                           >
                             <v-icon>open_in_new</v-icon>
                           </v-btn>

                           <v-dialog v-model="item.display" scrollable>
                               <template v-slot:activator="{ on }">
                                 <v-btn
                                   icon
                                   dark
                                   v-on="on" @click="getOcrText(`${textUrl}/${item.folder_id}/${item.file_path}`)"
                                 >
                                   <v-icon>library_books</v-icon>
                                 </v-btn>
                               </template>
                               <v-card>
                                 <v-card-title>OCR Text</v-card-title>  <!-- TODO i18n -->
                                 <v-divider></v-divider>
                                 <v-card-text style="height: 300px;">
                                   <pre>{{ ocrText }}</pre>
                                 </v-card-text>
                                 <v-divider></v-divider>
                               </v-card>
                             </v-dialog>

                          </v-card-actions>
                        </v-card>
                      </v-col>
                    </v-row>
                  </template>
                </v-data-iterator>
              </v-container>
  </v-container>
</template>

<script>
import axios from 'axios';
import global from '@/main';
import Peer from '@/components/Peer';

export default {
  name: 'ProcessorOcr',
  components: {
    Peer,
  },
  data() {
    return {
      tagsUrl: `${global.proxyUrl}/${this.$route.params.address}/tags`,
      tagsByCategories: [],
      searchUrl: `${global.proxyUrl}/${this.$route.params.address}/search`,
      search: '',
      searchTags: [],
      dataUrl: `${global.proxyUrl}/${this.$route.params.address}/file`,
      thumbUrl: `${global.proxyUrl}/${this.$route.params.address}/thumb`,
      textUrl: `${global.proxyUrl}/${this.$route.params.address}/ocr_text`,
      results: [],
      items: [],
      ocrText: '',
      error: '',
    };
  },
  created() {
    // Retrieve the list of tags
    let self = this;
    axios.get(`${self.tagsUrl}`)
         .then(function (response) {
           self.error = '';
           console.log(response.data);
           self.tagsByCategories = response.data;
         })
         .catch(function (error) {
           console.log(error);
           // error
           if (error.response === undefined) {
             self.error = error;
           } else if (error.response.status === 401) {
             self.error = 'Authentication denied';
           } else {
             self.error = `Unexpected error (HTTP code = ${error.response.status})`;
           }
         });
  },
  props: {
  },
  methods: {
      isSelectedTag(tag) {
        if (this.searchTags.includes(tag)) {
          return true;
        }
        return false;
      },
      selectTag(tag) {
        let index;
        if (this.searchTags.includes(tag)) {
          index = this.searchTags.indexOf(tag);
          if (index !== -1) this.searchTags.splice(index, 1);
        } else {
            this.searchTags.push(tag);
        }
        console.log(this.searchTags);
      },
      checkIfEnter(e) {
        if (e.keyCode === 13) {
          // Enter pressed, execute the doLogin() function
          this.doSearch();
        }
      },
      doSearch() {
        const search = this.search.replace(' ', ',');
        const tags = this.searchTags.join();

        console.log(this.searchUrl);
        let self = this;
        axios.get(`${self.searchUrl}?tags=${tags}&patterns=${search}`)
             .then(function (response) {
               // Search response
               // We should receive :
               console.log('Results');
               self.error = '';
               console.log(response.data);
               self.results = response.data;
               self.items = response.data;
             })
             .catch(function (error) {
               console.log(error);
               // Login error
               if (error.response === undefined) {
                 self.error = error;
               } else if (error.response.status === 401) {
                 self.error = 'Authentication denied';
               } else {
                 self.error = `Unexpected error (HTTP code = ${error.response.status})`;
               }
             });
      },
      getOcrText(url) {
        this.ocrText = '';
        const self = this;
        axios.get(url)
          .then(response => {
            self.ocrText = response.data;
          }).catch(error => console.error(error));
      },
      downloadItem(url, name) {
        axios.get(url, { responseType: 'blob' })
          .then(response => {
            this.forceFileDownload(response, name);
          }).catch(error => console.error(error));
      },
      forceFileDownload(response, name) {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', name);
        document.body.appendChild(link);
        link.click();
      },
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.category::first-letter {
    text-transform: uppercase;
}
.title {
  color: white;
  text-shadow:
   -2px -2px 4px #000,
    2px -2px 4px #000,
    -2px 2px 4px #000,
     2px 2px 4px #000;
}

.v-chip:focus:not(.v-chip--selected):after {
  background: none !important;
}

</style>

