<template>
  <v-container>
    <Peer v-bind:address="$route.params.address"></Peer>
      <h2>Motion history</h2>    <!-- TODO i18n -->
      <div v-if='error != ""'>
       <v-alert
          :value="true"
          color="error"
        >
          <div>A problem occured while gathering the list of files:</div>  <!-- TODO : i18n-->
          <div>{{ error }}</div>
        </v-alert>
      </div>
      <div v-else>

        <v-container fluid grid-list-sm>
          <!-- if data loaded -->
          <v-alert
           v-if="previewFiles.length == 0"
           :value="true"
           type="info"
          >
            <div>
              There is no motion event yet.  <!-- TODO : i18n -->
            </div>
          </v-alert>

          <v-data-iterator
                  :items="previewFiles"
                >
            <template v-slot:default="props">
              <v-row>
                <v-col
                 v-for="item in props.items"
                 :key="item.name"
                 cols="12"
                 sm="6"
                 md="4"
                 lg="3"
                >
                  <v-card>
                    <v-img :src="`${fileUrl}/${item.name}`" class="image" :alt="item.name" width="100%" height="100%">
                     <v-container
                        fill-height
                        fluid
                        pa-2
                      >
                        <v-layout fill-height>
                          <v-flex xs12 align-end flexbox>
                            <span class="headline video-time">{{ item.datetime | formatDate  }}</span>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-img>

                    <v-card-actions>
                     <v-btn
                       icon
                       dark
                       :to="{path: previewPageBaseUrl + '/' + item.name}"
                     >
                       <v-icon>play_circle_outline</v-icon>
                     </v-btn>
                     <v-btn
                       icon
                       dark
                       :href="`${fileUrl}/${item.name}`.replace('jpg', 'mp4')"
                       target="_blank"
                     >
                       <v-icon>cloud_download</v-icon>
                     </v-btn>
                     <span>{{ Math.round(item.size/1024/1024) }}&nbsp;Mb</span>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </template>
          </v-data-iterator>

        </v-container>

      </div>

        <!-- TODO : move elsewhere
        <h2>Motion streaming</h2>
        <p>If enabled, display the live motion detection streaming with boxes around the detected motions.</p>
        <WidgetVideo v-bind:video="videoData"></WidgetVideo>
        -->


  </v-container>
</template>

<script>
import axios from 'axios';
import global from '@/main';
import Peer from '@/components/Peer';
import WidgetVideo from '@/components/WidgetVideo';

export default {
  name: 'ProcessorMotionDetection',
  components: {
    Peer,
    WidgetVideo,
  },
  data() {
    return {
      previewPageBaseUrl: `/motion.detection/${this.$route.params.address}/preview`,
      previewUrl: `${global.proxyUrl}/${this.$route.params.address}/preview`,
      fileUrl: `${global.proxyUrl}/${this.$route.params.address}/file`,
      previewFiles: [],
      previewListDownloaded: false,
      error: '',
      videoData: {
        name: 'Motion detection',
        format: 'mjpeg',
        url: `${global.proxyUrl}/${this.$route.params.address}/videostream`,
        login: '',
        password: '',
      },
    };
  },
  created() {
    // Get previews each 30 seconds
    this.refreshPreviews();
    setInterval(function () {
                  this.refreshPreviews();
                }.bind(this), 30000);
  },
  props: {
  },
  methods: {
    refreshPreviews() {
      let self = this;
      // TODO : display a loading icon ?
      axios.get(this.previewUrl)
           .then(function (response) {
             self.previewFiles = response.data;
             self.previewListDownloaded = true;
           })
           .catch(function (error) {
             self.error = error;
           });
    },
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.video-time {
  color: white;
  text-shadow:
   -2px -2px 4px #000,
    2px -2px 4px #000,
    -2px 2px 4px #000,
     2px 2px 4px #000;
}

</style>

