<template>
  <v-container>
    <v-btn @click="$router.go(-1)">back</v-btn>

    <WidgetVideo v-bind:video="videoData"
                 v-bind:autoplay="false"></WidgetVideo>
  </v-container>
</template>

<script>
import global from '@/main';
import WidgetVideo from '@/components/WidgetVideo';

export default {
  name: 'ProcessorMotionDetectionPreview',
  components: {
    WidgetVideo,
  },
  data() {
    return {
      videoData: { name: this.$route.params.previewId,
                   format: 'mp4',
                   url: `${global.proxyUrl}/${this.$route.params.address}/file/${this.$route.params.previewId.replace('.jpg', '.mp4')}`,
                   login: '',
                   password: '' },
    };
  },
  created() {
  },
  props: {
  },
  methods: {
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
