<template>
  <v-container>
    <Peer v-bind:address="$route.params.address"></Peer>

  </v-container>
</template>

<script>
import Peer from '@/components/Peer';

export default {
  name: 'Server',
  components: {
    Peer,
  },
  data() {
    return {
    };
  },
  props: {
  },
  methods: {
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>

</style>

