<!--
  Usage :

  <WidgetActuator
   v-bind:action="some sentence to ask to the brain"
   v-bind:icon="a_material_design_icon_name"></WidgetActuator>

-->

<template>
  <v-sheet class='widget'>
    <div class='button'
         v-bind:class="{ animation1: doAnimation }" 
         @click='ask'
         ref='button'>
<!--
      <span ref='icon' class='icon'>on</span>
      <span ref='icon' class='icon'><v-icon>{{ this.icon }}</v-icon></span>
-->
      <v-icon ref='icon' class='icon'>{{ this.icon }}</v-icon>
    </div>
  </v-sheet>
</template>

<script>

export default {
  name: 'WidgetActuator',
  data() {
    return {
      name: 'Actuator',
      doAnimation: 0,
    };
  },
  created() {
    console.log('Created actuator with icon ', this.icon, ' and action ', this.action);
  },
  props: {
    action: {
      type: String,
      default() {
        return '';
      },
    },
    icon: {
      type: String,
      default() {
        return 'offline_bolt';
      },
    },
  },
  mounted() {
    this.$adjustText(this.$refs.button, this.$refs.icon.$el);

  },
  methods: {
    ask() {
      // launch animation
      this.doAnimation = true;

      // Send the request to the assistant gateway over weboskcets
      console.log('Ask : ', this.action);
      this.$store.dispatch('sendMessage', { type: 'dialog', name: 'You', text: this.action });

      // remove animation class
      let self = this;
      setTimeout(function() {
          self.doAnimation = false;
      }, 500);
    },
    runAction1() {
      alert('run');
    },
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.widget {
    overflow: hidden;
    padding: 0.8em;
    height: 100%;
    width: 100%;
}

.button {
/*
    overflow: hidden;
*/
    width: 100%;
    height: 100%;
}

.button .icon {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}


@keyframes animation1 {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(3);}
}
.animation1 {
    animation-duration: 0.5s;
    animation-name: animation1;
}
</style>

