<!--
  Usage :

  <WidgetClock></WidgetClock>

-->

<template>
  <div ref='widget' class='widget'>
    <div ref='parent' class='full'> 
      <span class='time' ref='clock'>{{ time }}</span>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: 'WidgetClock',
  data() {
    return {
      name: 'Clock',
      time: '00:00',
    };
  },
  created() {
    console.log('Created clock');
    this.time = moment().format('HH:mm:ss');
    setInterval(()=>{
      this.time = moment().format('HH:mm:ss');
    }, 1000)
  },
  props: {
  },
  mounted() {
    /*
    console.log(this.$refs.clock);
    console.log(this.$refs.widget.clientHeight);
    console.log(this.$refs.clock.clientHeight);
    console.log(this.$refs.parent.clientHeight);
    */
    this.$adjustText(this.$refs.parent, this.$refs.clock);
  },
  methods: {
/*
    xxadjustText(parent, element, margin = {width :3, height:3}) {
                console.log("parent=", parent);
                console.log("parent.clientWidth=", parent.clientWidth);
                console.log("parent.clientHeight=", parent.clientHeight);
                console.log("element.clientWidth=", element.clientWidth);
                console.log("element.clientHeight=", element.clientHeight);
                if (parent.clientWidth == 0 || parent.clientHeight == 0 || element.offsetWidth == 0) {
                    // in case the page is not yet nicely loaded...
                    setTimeout(function(){
                        this.adjustText(parent, element, margin);
                        }.bind(this), 1000);
                } else {
                    let i = 100; // force highSize to recalculate;
                    element.style.fontSize = i+"px";
                    const maxWidth = parent.clientWidth - margin.width;
                    const maxHeight = parent.clientHeight - margin.height;
                    console.log("maxWidth=", maxWidth);
                    console.log("maxHeight=", maxHeight);
                    if (maxWidth > element.offsetWidth && maxHeight > element.offsetHeight) {
                        while ( maxWidth > element.offsetWidth && maxHeight > element.offsetHeight && i < 100){
                            element.style.fontSize = i+"px";
                            i++;
                        }
                    } else if (element.offsetWidth > maxWidth || element.offsetHeight > maxHeight ) { // If text is bigger than widget
                        while ((element.offsetWidth > maxWidth || element.offsetHeight > maxHeight) && i > 5){
                            element.style.fontSize = i+"px";
                            i--;
                        }
                    }
                }
    },
*/
  },
  computed: {
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.widget {
    overflow: hidden;
    padding: 0em;
    height: 100%;
    width: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

.time {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

</style>

