<!--
  Usage :

  <WidgetVideo
   v-bind:autoplay="true|false"
   v-bind:video="video"></WidgetVideo>

  video = { name: '...',
            url: 'http(s)://....',
            format: 'mjpeg',        // mjpeg, youtube, empty, ...
            login: '....',          //for http basic auth
            password: '....',       //for http basic auth
          }


  Notice about MJPEG videos :
  1. If the video needs some authentication, it can't be displayed with a simple <img src=...> block!
     This is related to security issues/protections in modern browsers.
     So, to be able to display such video, we need to use axios to fetch the data and process in javascript the decoding
     of the video file... This is not cpu efficient at all!


-->

<template>
  <v-sheet id='videoWidget'>
      <div v-if='videoData.format=="empty"' class='camera'>
        <!-- TODO : picture -->
        ~~ No video ~~
      </div>

<!--
      <div v-else-if='videoData.format=="mjpeg"' class='camera'>
        <img :src='videoData.url' class='video'>
      </div>
-->
<!--
      <img v-else-if='videoData.format=="mjpeg"'
           :src='videoData.url' class='video'>
-->
      <img v-else-if='videoData.format=="mjpeg"'
           :src='imgSrc' class='video'>

      <div v-else-if='videoData.format=="youtube"' class='ratio-16-9'>
        <iframe id='ytplayer' type='text/html' allow='autoplay'
          v-if='autoplayData == true'
          :src='imgSrc'
          frameborder='0'></iframe>
        <iframe id='ytplayer' type='text/html' allow='autoplay'
          v-else
          :src='imgSrc'
          frameborder='0'></iframe>
      </div>

      <div v-else-if='videoData.format=="mp4"'>
        <!-- https://vuejsexamples.com/dynamically-reactively-render-videos-and-audios/ -->
        <Media class="mp4"
         :kind="'video'"
         :controls="true"
         :src="[imgSrc]"
         :autoplay="false"
        >
        </Media>
      </div>

      <div v-else class='camera'>
        <span>ERR : unsupported type of video format : {{ videoData.format }}</span>   <!-- TODO : i18n -->
      </div>
  </v-sheet>
</template>

<script>
// For mpeg, ...
import Media from '@dongido/vue-viaudio';

export default {
  name: 'WidgetVideo',
  components: {
    Media,
  },
  data() {
    return {
        autoplayData: this.autoplay,
        videoData: this.video,
        imgSrc: '',
    };
  },
  created() {
    if (this.videoData.format === 'mjpeg') {
        /*
        if (this.autoplay) {
            this.displayMjpeg();
        }
        */
        this.imgSrc = this.videoData.url;
        let self = this;
        setInterval(function() {
          self.imgSrc = self.videoData.url + '?' + new Date().getTime();
          console.log("Update mjpeg camera url to : ", self.imgSrc);
        }, 60000)
    } else if (this.videoData.format === 'youtube') {
        this.imgSrc = `${this.videoData.url}?autoplay=1`;
    } else {
        this.imgSrc = this.videoData.url;
    }
  },
  props: {
    autoplay: {
      type: Boolean,
      default() {
        return false;
      },
    },
    video: {
      type: Object,
      default() {
        return { name: '', url: '', format: 'empty', login: '', password: '' };
      },
    },
  },
  mounted() {
  },
  methods: {
    displayMjpeg() {
      this.autoplayData = true; // set mode to reading

      const url = this.videoData.url;

      let headers = new Headers();
      const bas = btoa(`${this.videoData.login}:${this.videoData.password}`);
      headers.set('Authorization', `Basic ${bas}`);

      const SOI = new Uint8Array(2);
      SOI[0] = 0xFF;
      SOI[1] = 0xD8;
      const CONTENT_LENGTH = 'Content-length';
      const TYPE_JPEG = 'image/jpeg';
      console.log(`Getting mjpeg video from ${url}`);
      fetch(url, {
        withCredentials: true,
        method: 'GET',
        headers,
        mode: 'no-cors',
      })
      .then(response => {
          if (!response.ok) {
              throw Error(`${response.status} ${response.statusText}`);
          }
          if (!response.body) {
              throw Error('ReadableStream not yet supported in this browser.');
          }

          const reader = response.body.getReader();
          headers = '';
          let contentLength = -1;
          let imageBuffer = null;
          let bytesRead = 0;
          // calculating fps. This is pretty lame. Should probably implement a floating window function.
          // let frames = 0;

          // setInterval(() => {
          //    //console.log('fps : ' + frames/10);
          //    frames = 0;
          // }, 10000);
          const read = () => {
              reader.read().then(({ done, value }) => {
                  if (done) {
                      // controller.close();
                      return;
                  }

                  for (let index = 0; index < value.length; index++) {
                      // we've found start of the frame. Everything we've read till now is the header.
                      if (value[index] === SOI[0] && value[index + 1] === SOI[1]) {
                          // console.log('end of header found');
                          // console.log('headers : ' + headers);

                         // Content length
                         contentLength = -1;
                         headers.split('\n').forEach((header, _) => {
                             const pair = header.split(':');
                             if (pair[0].toLowerCase() === CONTENT_LENGTH.toLowerCase()) {
                                 contentLength = pair[1];
                             }
                         });


                          // contentLength = getLength(headers);
                          // console.log('Content Length : ' + contentLength);

                          // We have only a partial/invalid header, skipping it...
                          if (contentLength !== -1) {
                              imageBuffer = new Uint8Array(new ArrayBuffer(contentLength));
                              headers = '';
                          }
                      }
                      // we're still reading the header.
                      if (contentLength <= 0) {
                          headers += String.fromCharCode(value[index]);
                      } else if (bytesRead < contentLength) {
                      // we're now reading the jpeg.
                          imageBuffer[bytesRead++] = value[index];
                      } else {
                      // we're done reading the jpeg. Time to render it.
                          // console.log('jpeg read with bytes : ' + bytesRead);
                          // console.log('jpeg read');
                          // document.getElementById('image').src = URL.createObjectURL(new Blob([imageBuffer], {type: TYPE_JPEG}));
                          this.imgSrc = URL.createObjectURL(new Blob([imageBuffer], { type: TYPE_JPEG }));
                          // frames++;
                          contentLength = 0;
                          bytesRead = 0;
                          headers = '';
                      }
                  }
                  read();
              }).catch(error => {
                  console.error(error);
              });
          };

          read();
      }).catch(error => {
          this.imgSrc = this.noVideoImage;
          console.error(error);
      });
    },
  },
  computed: {
    noVideoImage() {
      return require('../assets/images/novideo.png');
    },
  },
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>

#videoWidget {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.camera {
    border: 2px solid blue;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.video {
    /* min-height: 50px; */
}

/* The container element is given a zero height and a percentage bottom padding.
   The percentage bottom padding is a percentage of the container width, so that
   gives it a fixed aspect ratio. But in order to get the iframe to show up inside
   the zero-height container, you need to make the container relative and the iframe
   absolute, positioned inside the div.
*/
.ratio-16-9 {
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mp4 {
    max-height: 70vh;
    width: 100%;
}

</style>

